<div class="mdui-row" style="margin-top:50px">
    <div class="mdui-col-sm-8">
        <div class="mdui-card">
            <div class="mdui-card-media" style="max-height: 400px;">
                <img data-src="{{t_config.head_card.img}}">
                <div class="mdui-card-media-covered mdui-card-media-covered-gradient">
                    <div class="mdui-card-primary">
                        <div class="mdui-card-primary-title">{{t_config.head_card.text}}</div>
                    </div>
                </div>
            </div>
            <div class="mdui-card-header" style="background-color: white;">
                <img class="mdui-card-header-avatar" data-src="{{t_config.head_card.logo}}">
                <div class="mdui-card-header-title">{{config.author}}</div>
                <div class="mdui-card-header-subtitle">{{t_config.head_card.introduction}}</div>
            </div>
        </div>
    </div>
    <div class="mdui-col-sm-4">
        <div style="overflow: visible;" class="mdui-card">
            <div class="mdui-card-media">
                <center><img data-src="{{t_config.avatar}}" style="max-height:400px;width: auto;"></center>
            </div>
            <div class="mdui-card-menu">
                <button mdui-menu="{target:'#home_pages_menu',align:'right',covered: false}" mdui-tooltip="{content: '页面'}" class="mdui-btn mdui-btn-icon">
                    <i class="mdui-icon material-icons">view_carousel</i>
                </button>
                <ul id='home_pages_menu' class="mdui-menu" style="width: fit-content;">
                    {%for i in t_config.head_card.pages%}
                    <li class="mdui-menu-item mdui-ripple">
                        <a href="{{config.site_rt}}{{t_config.head_card.pages[i]}}" class="mdui-ripple">{{i}}</a>
                    </li>
                    {%endfor%}
                </ul>
                {%include 'share_menu.html'%}
            </div>
            <div class="mdui-card-header">
                <div class="mdui-card-primary-title">{{config.site_name}}</div>
                <div class="mdui-card-menu">
                    <button onclick="drawer.toggle()" class="mdui-btn mdui-btn-icon">
                        <i class="mdui-icon material-icons">more_vert</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>