{%set page_typ='index'%}
{%extends "base.html"%}
{%block content%}
<div class="mdui-typo">
    <h1>
        <small><a href="{{config.site_rt+'/tags'}}"><i class="mdui-icon material-icons">arrow_back</i></a></small>
        {{tag}}
    </h1>
</div>
{%for i in nodes%}
<div class="mdui-card article">
    <div class="mdui-card-media">
        <a href="{{i.link}}">
            <img data-src="{{mg(i.thumbnail,randimg())}}" height="300px" style="object-fit: cover;">
        </a>
        <div class="mdui-card-media-covered">
            <div class="mdui-card-primary">
                <div class="mdui-card-primary-title">
                    <a href="{{i.link}}" class="mdui-text mdui-text-color-white">
                        {{i.title}}
                    </a>
                </div>
                <div class="mdui-card-primary-subtitle">{{gen_tags(i.tags)}}</div>
            </div>
        </div>
    </div>
    <div class="mdui-card-content">
        <div class="md_out markdown-body" style="font-size: 12px !important">{{i.preview}}</div>
    </div>
    <div class="mdui-card-header">
        <img class="mdui-card-header-avatar" src="{{mg(i.avatar,t_config.avatar)}}">
        <div class="mdui-card-header-title">{{i.author}}</div>
        <div class="mdui-card-header-subtitle">{{i.date}}</div>
        <div class="mdui-card-menu">
            <a href="{{i.link}}" class="mdui-btn mdui-btn-raised mdui-ripple read_more">Read More</a>
        </div>
    </div>
</div>
{%endfor%}
<div class="mdui-row-xs-3 article">
    <div class="mdui-col">
        <a href="{{pre if pre}}" class="mdui-btn mdui-btn-icon" {{'disabled' if not pre}} id='pre_button'>
            <i class="mdui-icon material-icons">arrow_back</i>
        </a>
    </div>
    <div class="mdui-col mdui-text-center">{{id}} / {{total}}</div>
    <div class="mdui-col">
        <a href="{{nxt if nxt}}" class="mdui-btn mdui-btn-icon mdui-float-right" {{'disabled' if not nxt}} id='nxt_button'>
            <i class="mdui-icon material-icons">arrow_forward</i>
        </a>
    </div>
</div>
{%endblock%}